.header{
    position: fixed;
    top: 0;
    z-index: 1000;
    box-shadow: -4px 8px 20px 7px rgba(0,0,0,.1);
    background: rgb(50, 50, 50);
    color: white;
    width: 100%;
}

.header_content{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 4rem;
    max-width: 75rem;
    margin: auto;
    
}

/* @media only screen and (max-width: 56.25em){
.header_content {
    padding: 0 2rem;
}} */

.header_logo-container{
    display: flex;
    align-items: center;
    gap: 1rem;
}

.header_logo_img_container{
    width: 3rem;
    height: 3rem;
    border-radius: 50px;
    overflow: hidden;
    background: #c05621;
}

.header_logo_img{
    width: 100%;
    height: 112%;
    object-fit: cover;
    object-position: center;
    display: block; 
}

.header_logo_name{
    font-size: 1.4rem;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 2px;
}

.header_menu{

}

.header_menu_links{
    display: flex;
    gap: 3rem;
}

.menu_link_wrapper{

}

.header_link{
    text-transform: uppercase;
    letter-spacing: 1px;
    transition: color .3s; 
    cursor: pointer;
    font-weight: 700;
}

.header_link:hover {
    color: #c05621; 
}